/* Scroll Snapping */

body {
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: none;
}

#snap {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

header, #cool-anim {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
}


/* Hover Underline */

.hover-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* Navigation Styling */

a:hover {
    cursor: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#name {
    text-decoration: none;
    color: black;
}

#cat {
    width: 20px;
    transition: ease 500ms;
}

#cat:hover {
    transform: scale(1.1);
}


/* Hero Styling */

#semi-bold {
    font-weight: 600;
}

#hero-title {
    font-size: 2.3em;
    text-decoration: underline;
    font-weight: 600;
    line-height: 1.75em;
    text-align: center;
    margin-bottom: 1em;
}

#hero-description {
    text-align: center;
    max-width: 50ch;
    margin-bottom: 2em;
    font-size: 1.1em;
}

#flex-container {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    padding: 1em;
    transition: ease 0.2s;
    display: block;
    margin-bottom: 1em;
}

button:hover {
    opacity: 0.9;
    cursor: none;
}

#blk {
    background: #292727;
    color:white;
    border-radius: 10px;
}

#git {
    background: transparent;
}

#git:hover {
    opacity: 0.6;
}

svg {
    transform: scale(1.3);
}

/* Glance */

#glance {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}
.glance-title {
    font-size: smaller;
    margin-left: 10px;
    font-size: medium;
    font-weight: 500;
}

.glance-description {
    font-size:medium;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.heading {
    display: flex;
    justify-content: center;
}

#creator {
    display: none;
}

/* Javascript Animation Section */

#animate-text {
    text-decoration: none;
    font-size: 2em;
    text-align: left;
    line-height: 1.4em;
    font-weight: 600;
    opacity: 0.7;
    transition: all ease 0.5s;
    transform: scale(0.95);
}

#animate-text:hover {
    opacity: 1;
    transform: scale(1);
}


/*Headlines*/
h2 {
    font-weight: bold;
}

/* Mouse Trailer */

body:hover > #trailer {
    opacity: 1;
  }
  
  #trailer {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 20px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    
    display: grid;
    place-items: center;
  }
  
  #trailer:not([data-type=""]) > #trailer-icon {
    opacity: 1;
  }
  
  #trailer-icon {
    font-size: 6px;
    line-height: 4px;
    color: white;
    opacity: 0;
    transition: opacity 400ms ease;
  }
  
  .interactable {
    aspect-ratio: 1 / 1.5;
    width: clamp(120px, 40vmin, 600px);
    background-position: center 50%;
    background-size: 100%;  
    opacity: 0.4;
    
    transition: background-size 400ms ease, opacity 400ms ease;
  }
  
  .interactable:hover {
    background-size: 105%;
    opacity: 0.8;
  }
  

  /* Quote Section */
  #quote-list {
      height:200vh;
  }

.quote {
    font-weight: 400;
    margin-bottom: 1em;
    font-size: 1.5em;
  }

/* Breakpoint Styles */

@media (min-width: 576px) {
    #creator {
        display: inline;
    }
    #buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 0.7em;
    }
    #buttons > button:nth-last-of-type(1) {
        margin-left: 2em;
    }

    #hero-title {
        font-size: 2.7em;
    }
    #hero-description {
        font-size: 1.25 em;
    }
    .quote {
        font-size: 2em;
    }

    #animate-text {
        font-size: 2.5em;
    }
}

@media (min-width: 768px) {
    #hero-title {
        font-size: 2.8em;
    }
    #hero-description {
        font-size: 1.3em;
    }
    .quote {
        font-size: 2em;
    }
}

@media (min-width: 992px) {
    #hero-title {
        font-size: 3em;
    }
    #hero-description {
        font-size: 1.5em;
    }
    .quote {
        font-size: 2.2em;
    }
    #animate-text {
        font-size: 3em;
    }
}

@media (min-width: 1200px) {
    #hero-title {
        font-size: 3.5em;
    }
    #hero-description {
        font-size: 1.7em;
    }
    .quote {
        font-size: 2.5em;
    }
    #animate-text {
        font-size: 3em;
    }
}

@media (min-width: 1400px) {
    #animate-text {
        font-size: 3.5em;
    }
}